.app {
  text-align: center;
}

.main {
  background-color: #282c34;
  color: #cccccc;
}

.bot-picture {
  margin-top: 1vh;
  min-height: 20vh;
  max-height: 40vh;
  border-radius: 10px;
  box-shadow: 0px 0px 3vh 24px rgba(0, 0, 0, 0.2);
}

.link-outline {
  margin: 1vh auto;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #cccccc;
  text-decoration: none;
  position: relative;
  padding: 5px 10px;
  transition: all 2s ease;
  border: 2px solid #cccccc;
  border-radius: 50px;
  vertical-align: middle;
}

.link-outline:hover {

  background-color: #eeeeee;
  color: #282c34;
}

.description {
  max-width: 90vw;
  margin: 0px auto;
  padding: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

ol {
  padding-left: 20px;
  text-align: left;
}



